{% extends 'aplicacion/base.html' %}
{% load static %} 
{% block titulo %}INFO{% endblock titulo %} 
{% block cabecera %} {% endblock cabecera %} 
{% block contenido %}

<div class="container text-center">
    <h2 class="text-dark">
    <br>
    <br>
        Acerca de Mi
    </h2>
    <br>
    <p>
        Mi nombre es Fernando, soy tercnico superior en robotica y cuento con un trayecto de 18 años en la industria  grafica. Me he desmpeñado en el area de servivio tecnico e instalacion de equipos aplicadores de etiquetas a lo largo de toda latinoamerica. Actualmente estoy aprendiendo el lenguaje de programación Python y el Framework Django, espero poder dedicarme a la programacion en un futuro no muy lejano. Gracias por tomarte el tiempo de visitar mi página y no dejes de seguirme en mis redes sociales :)
    </p>
    <br>
    <br>
    <div class="row justify-content-center">
        <div class="col-md-6 col-lg-3">
            <div class="card bg-primary">
                <div class="card-body text-center">
                    <img src="{% static 'aplicacion/assets/imagenes/personal.jpg' %}" class="rounded-circle mb-5" width="200px">
                    <h3 class="card-title mb-1">Puga Fernando</h3>
                    <p class="card-text">Python Developer Jr.</p>
                    <p class="card-text">Sigueme en:</p>
                    <a href="https://github.com/FernandoPuga/"><i class="bi bi-github text-dark mx-1"></i></a>
                    <a href="https://www.linkedin.com/in/fernando-ariel-puga-5a1212158/"><i class="bi bi-linkedin text-dark mx-1"></i></a>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock contenido %}
