{% extends 'aplicacion/base.html' %}
{% load static %}

{% block titulo %}
    Carpinteros
{% endblock titulo %}

{% block cabecera %}
    
{% endblock cabecera %}


{% block contenido %}
<table>
    <tr>
        <td width="300"><h2>Carpinteros</h2></td>
        <td>
            <a
            href="{% url 'create_carpintero' %}"
            class="btn btn-primary btn-sm"
            ><i class="fa fa-plus fa-lg" title="New Record"> </i>
            </a>
        </td>
    </tr>
</table>

<table class="table">
    <thead>
        <tr>
            <th>ID</th>
            <th>Nombre</th>
            <th>Apellido</th>
            <th>Email</th>
            <th>Telefono</th>
            <th>Localidad</th>
        </tr>
    </thead>
    <tbody>
    
    {% for carpintero in carpinteros_list %}
    <tr>
        <td>{{carpintero.id}}</td>
        <td>{{carpintero.nombre}}</td>
        <td>{{carpintero.apellido}}</td>
        <td>{{carpintero.email}}</td>
        <td>{{carpintero.telefono}}</td>
        <td>{{carpintero.localidad}}</td>
        <td>
            <a
            href="{% url 'detail_carpintero' p.id %}"
            class="btn btn-info"
            style="--bs-btn-padding-y: .25rem; --bs-btn-padding-x: .5rem; --bs-btn-font-size: .75rem;"
            ><i class="fa fa-search fa-sm" title="View Record"></i>
            </a>
            <a
              href="#"
              class="btn btn-primary"
              style="--bs-btn-padding-y: .25rem; --bs-btn-padding-x: .5rem; --bs-btn-font-size: .75rem;"
              ><i class="fa fa-edit fa-sm" title="Edit Record"></i>
            </a>
            <a
              href="#"
              class="btn btn-danger"
              style="--bs-btn-padding-y: .25rem; --bs-btn-padding-x: .5rem; --bs-btn-font-size: .75rem;"
              ><i class="fa fa-trash fa-sm" title="Delete Record"></i>
            </a>
          </td>        
    </tr>
{% endfor %}

    
    </tbody>
</table>

{% endblock contenido %}