{% extends 'aplicacion/base.html' %} 
{% load static %} 
{% block titulo %}Avatar{% endblock titulo %} 
{% block cabecera %}{% endblock cabecera %} 
{% block contenido %}
<br>
    <div style="text-align: center;">
        <br>
        <h3>Selecciona una imagen para usar de Avatar</h3>
        <br>
        <br>
        <form method="POST" enctype="multipart/form-data" style="display: inline-block; text-align: left;">

            {% csrf_token %}
            {{ form.as_p  }}

            <input type="submit" value="Actualizar" style="background-color: blue; color: white; border: none; padding: 5px 10px; cursor: pointer;">

        </form>
    </div>
{% endblock contenido %}
