{% extends 'aplicacion/base.html' %} 
{% load static %} 
{% block titulo %}Logout{% endblock titulo %} 
{% block cabecera %}<br>
{% endblock cabecera %} 
{% block contenido %}
    <br>

    <h4>
        <p style="color:blue" align="center">
            Usted se ha deslogueado, gracias por visitarnos!!!
        </p>
    </h4>
    <div class="text-center">
        <img src="{% static 'aplicacion/assets/imagenes/imagen2.jpg' %}" class="img-fluid rounded mb-5" style="max-width: 800px;">
    </div>
{% endblock contenido %}